<div class="course-list-container">
  <p>Course List</p>

  <!-- Search Input -->
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search course" (input)="searchCourse()" />

  <!-- Add Course Input -->
  <input type="text" [(ngModel)]="name" placeholder="Enter course name" />
  <button (click)="addCourse()">Add Course</button>
  <button (click)="clearAll()">Clear All</button> <!-- Clear all courses -->

  <!-- Course List -->
  <ul>
    <li *ngFor="let course of filteredCourseList; let i = index">
      {{ course }}
      <button class="remove-btn" (click)="removeCourse(i)">Remove</button>
    </li>
  </ul>
</div>

