<div class="sports-list-container">
  <p>Sports List</p>

  <!-- Search Input -->
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search country..." (input)="searchSports()" />


  <input type="text" [(ngModel)]="name" placeholder="Enter Sports name" />
  <br>
  <button (click)="addSports()">Add Country</button>
  <button (click)="clearAll()">Clear All</button>


  <ul>
    <li *ngFor="let sports of filteredSportsList; let i = index">
      {{ sports }}
      <button class="remove-btn" (click)="removeSports(i)">Remove</button>
    </li>
  </ul>
</div>
